/**styling reset**/
.default_style_none{
    all: unset;
}

/**button styling**/
.dark_button{
    border-style: none;
    padding: 8px 16px 8px 16px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
}

.hover_cursor:hover{
    cursor: pointer;
}

/**font_style**/
.underline{
    text-decoration-line: underline;
}

/**links**/
.link:hover{
    cursor: pointer;
}

.link_blue{
    color: #296DBD;
}

.link_blue:hover{
    cursor: pointer;
}

.link_dark_blue{
    color: #264F7E;
}

.link_dark_blue:hover{
    cursor: pointer;
}

/**alignment**/
.text_center_align{
    text-align: center;
}

.text_left_align{
    text-align: left;
}


/**padding**/
.padding_32px{
    padding: 32px;
}

.padding_16px{
    padding: 16px;
}

.padding_8px{
    padding: 8px;
}

.padding_4px{
    padding: 4px;
}

.padding_top_2px{
    padding-top: 2px;
}

.padding_top_16px{
    padding-top: 16px;
}

.padding_top_14px{
    padding-top: 14px;
}

.padding_top_8px{
    padding-top: 8px;
}

.padding_top_4px{
    padding-top: 4px;
}

.padding_top_bottom_32px{
    padding: 32px 0px 32px 0px;
}

.padding_top_bottom_16px{
    padding: 16px 0px 16px 0px;
}


/**tag**/
.tag_active{
    border-radius: 50px;
    background: #39D36E;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: fit-content;
    padding: 8px 16px 8px 16px;
}

.tag_software_development{
    border-radius: 50px;
    background: #51AABE;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: fit-content;
    padding: 8px 16px 8px 16px;
}



.tag_project_management{
    border-radius: 50px;
    background: #5A51BE;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: fit-content;
    padding: 8px 16px 8px 16px;
}

/**radius**/
.border_radius_5px{
    border-radius: 5px;
}


.dashboard_content{
    margin: 40px 40px 40px 40px;
}












/***Unsorted***/

.grid_project_view{
    display: grid;
    grid-template-areas:'title      title'
                        'update     summary'
                        'update     summary'
                        'team       summary';
    gap: 32px;
}

.project_title{
    grid-area: title;
}

.project_summary{
    grid-area: summary;
}

.project_team{
    grid-area: team;
}

.project_update{
    grid-area: update;
}


.fill{
    width: 100%;
}

.input_fill{
    border-radius: 2px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    width: 300px;
    padding: 8px 16px;
}

.box_shadow_light{
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.17);
}

.box_shadow_lighter{
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.13);
}

.box_light_drop_shadow{
    border-radius: 5px;
    border: 2px solid #F0F0F0;
    background: #FFF;
    box-shadow: 4px 4px 11px 0px rgba(176, 222, 255, 0.12);
}

.center_content_horizontal{
    display: flex;
    justify-content: center;
}

.center_content_middle_page{
    top: 50%;
    position: absolute;
    top: 50%;
    left: 35%; /*fix this, to make vertically center*/
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.height_100percent{

}

/**specific**/
.update_card_top{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C9C9C9;
    padding: 8px;
}

.update_card_bottom{
    margin-top: -2px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #C9C9C9;
    padding: 8px;
    background: #F3F3F3;
}

.paragraph_light{
    color: #424242;
}

.display_inline{
    display: flex;
    gap: 8px;
}

.justify_right{
    justify-content: right;
}

.small_round_button{
    border-radius: 50px;
    border: 1px solid #CECECE;
    background: #FFF;
    padding: 8px 16px;
    font-weight: bold;
}

.small_icon{
    width: 20px;
    height: 20px;
}

.light_outline{
    border: 1px solid #E2E2E2;
}

.team_member_small{
    display: flex;
    border-radius: 2px;
    padding: 8px;
    gap: 12px;
}

.team_member_small img{
    width: 42px;
    height: 42px;
    border-radius: 50px;
}

.team_member_small p{
    font-weight: bold;
}

.display_inline_block{
    display: inline-block;
}

.gap_8px{
    gap: 8px;
}

.gap_4px{
    gap: 4px;
}

