*{
    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;1,100&display=swap');
    font-family: 'Public Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

/**font styling**/
h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{
    
}
